<div class="box">
  <h1 class="title">My tasks</h1>
    <% @tasks.each do |task| %>
    <ul>
      <li class="subtitle is-flex is-align-items-center">
        <input type="checkbox">
        <%= link_to task.title, task_path(task),  class: "p-3"%>
        <div class="ml-auto">
        <%= link_to destroy_at_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this Task"} do%>
        <button class="delete is-medium "></button>
      <% end %>
    </li>

    </ul>
  <% end %>

<%= link_to new_task_path do%>
  <button class="button is-link my-5">Add new Task</button>
<% end %>
</div>
